<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here is a Map, so you now where you are! </h2>
<div id="map"></div>
<!--<agm-map [latitude]="lat" [longitude]="lng"> 
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>-->
<router-outlet></router-outlet>
